<div class="mainAmbulance">
            <h2><b>Table of Requests</b></h2>
    <div class="tableCard">
    <mat-card>
            <mat-card-content class="requestCard">
            <div  class="tableView">    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="patientName">
                        <th mat-header-cell *matHeaderCellDef> Patient ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="timeOfRequest">
                        <th mat-header-cell *matHeaderCellDef> Time Of Request </th>
                            <td mat-cell *matCellDef="let element"> {{element.timeOfRequest}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="viewCase">
                        <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-button color="primary" (click)="viewCase(element.viewCase)">View Case</button>
                            </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            </mat-card-content>
    </mat-card>
    </div>         
    <div class="caseCard" *ngIf="showCase">
    <mat-card>    
            <mat-card-content>
                <google-map height="200" [center]="center" [zoom]=12>
                    <map-marker [position]="{lat: caseData.location.latitude, lng: caseData.location.longitude}"
                                [options]="{icon: caseData.userIcon}">
                    </map-marker>
                    <map-marker [position]="{lat: caseData.carLocation.latitude, lng: caseData.carLocation.longitude}"
                                [options]="{icon: '../../../../assets/Icons/ambcarMoving.png'}">
                    </map-marker>

                </google-map>
                <div class="caseDetails">
                    <label><b>Name:</b> {{caseData.name}}</label>
                    <br>
                    <label><b>Age:</b> {{caseData.age}}</label>
                    <br>
                    <label><b>Gender:</b> {{caseData.gender}}</label>
                    <br>
                    <label><b>Medical History:</b> {{caseData.medicalHistory}}</label>
                    <br>
                    <label><b>Location:</b> {{caseData.location.longitude + " - " + caseData.location.latitude}}</label>
                    <br>
                    <label><b>Request Type:</b> {{caseData.requestType}}</label>
                    <br>
                    <label><b>Closest Hospital:</b> {{caseData.closestHospital}}</label>
                    <br>
                </div>
                <br>
            <div><button mat-raised-button (click)="getUserReport()" color="primary">Get Report</button></div>
            </mat-card-content>
    </mat-card>
    </div>   
</div>  