<div class="tokenDiv">
    <mat-card class="tokenCard">
    <p>
        Your Token: <b>{{token}}</b>
    </p>
    </mat-card>
</div>
<div class="columnFlex" *ngIf="isPaired">
    <mat-card class="historyCard">
        <mat-card-header>
          <mat-card-title>View Readings</mat-card-title>
        </mat-card-header>
        <div class="rowFlex">
            <mat-card-content>
                <mat-card-subtitle>Heart Rate</mat-card-subtitle>  
                <p><b>{{heartRate}}</b></p>
            </mat-card-content>
            <mat-card-content>
                <mat-card-subtitle>Blood Pressure</mat-card-subtitle>
                <p><b>{{bloodPressure}}</b></p>
            </mat-card-content>
        </div>  
        <button mat-raised-button (click)="getReport()" color="primary">View Generated Report</button>  
      </mat-card>
</div>