<google-map height="100%"
            width="100%"
            [options]="mapOptions" [center]="center" [zoom]=15>
            
            <map-polyline *ngFor="let reqKeys of requestMap.keys()"
            [path]="[{
                lat: requestMap.get(reqKeys)?.carLocation?.latitude!,
                lng: requestMap.get(reqKeys)?.carLocation?.longitude!
            },{
                lat: requestMap.get(reqKeys)?.location?.latitude!,
                lng: requestMap.get(reqKeys)?.location?.longitude!
            },{
                lat: requestMap.get(reqKeys)?.hospital?.location?.latitude!,
                lng: requestMap.get(reqKeys)?.hospital?.location?.longitude!
            }]"></map-polyline>

            <div *ngFor="let userKey of userMap.keys()">
                <map-marker *ngIf="userMap.get(userKey)?.userData?.patientData?.pairedBracelet! !== '-1'"
                #marker="mapMarker"
                [position]="{lng: userMap.get(userKey)?.userData?.patientData?.patientReadings?.location?.longitude!,
                            lat: userMap.get(userKey)?.userData?.patientData?.patientReadings?.location?.latitude!}"
                [options]="{icon: userMap.get(userKey)?.userIcon}"
                (mapClick)="openInfoWindow(marker, userMap.get(userKey), 2)"></map-marker>
            </div>

            <map-marker *ngFor="let carKey of carMap.keys()"
            #marker="mapMarker"
            [position]="{lng: carMap.get(carKey)?.location?.longitude!, lat: carMap.get(carKey)?.location?.latitude!}"
            [options]="{icon: carMap.get(carKey)?.carIcon}"
            (mapClick)="openInfoWindow(marker, carMap.get(carKey), 1)"></map-marker>

            <map-marker *ngFor="let hospital of hospitalList"
            #marker="mapMarker"
            [position]="{lng: hospital.longitude!, lat: hospital.latitude!}"
            [options]="{icon: '../../../../assets/Icons/hospital.png'}"
            (mapClick)="openInfoWindow(marker, hospital, 0)"></map-marker>

            <map-info-window [innerHTML]="infoContent"></map-info-window>
</google-map>